@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202124;
    --foreground: #E8DFD5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-italianno);
}

.logo-text {
  font-family: var(--font-italianno);
}

.jetbrain {
  font-family: var(--font-jetbrain-mono);
}

.pale-cashmere {
  color: #E8DFD5;
}

.navbar {
  font-size: 32px;
  margin-left: 40px;
  margin-right: 40px;
}