KC_ADMIN_PASSWORD=admin
KC_ADMIN_USERNAME=admin
STRIPE_API_KEY=stripe_key
SENDGRID_API_KEY=sendgrid_key
FROM_EMAIL=email@email.email
KEYCLOAK_HOSTNAME=keycloak

# The database variables
USERS_DB_URI=jdbc:postgresql://postgres_users:5432/alexandre_user_service
ORDERS_DB_URI=jdbc:postgresql://postgres_orders:5432/alexandre_order_service
INVENTORY_DB_URI=jdbc:postgresql://postgres_inventory:5432/alexandre_inventory_service
PAYMENT_DB_URI=jdbc:postgresql://postgres_payment:5432/alexandre_payment_service
DELIVERY_DB_URI=jdbc:postgresql://postgres_delivery:5432/alexandre_delivery_service

# The observability variables
TEMPO_HOST=tempo
KAFKA_HOST=kafka
LOKI_HOST=loki
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=grafana